asgiref
certifi
chardet
coreapi
coreschema
defusedxml
Django
django-allauth
django-filter
django-rest-auth
djangorestframework
gunicorn
idna
importlib-metadata
itypes
Jinja2
Markdown
MarkupSafe
oauthlib
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
uritemplate
urllib3
uWSGI
zipp
